-- CreateTable
CREATE TABLE "VenuePrice" (
    "id" TEXT NOT NULL,
    "venueId" TEXT NOT NULL,
    "menuItemId" TEXT NOT NULL,
    "price" DECIMAL(10,2) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VenuePrice_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "VenuePrice_venueId_idx" ON "VenuePrice"("venueId");

-- CreateIndex
CREATE INDEX "VenuePrice_menuItemId_idx" ON "VenuePrice"("menuItemId");

-- CreateIndex
CREATE UNIQUE INDEX "VenuePrice_venueId_menuItemId_key" ON "VenuePrice"("venueId", "menuItemId");

